{% extends 'base2.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static './css/create-menu.css' %}" />
{% endblock head %} {% block content %}
<section class="menu">
	<form
		method="post"
		id="talonForm"
		data-filials-url="{% url 'ajax_load_filials' %}"
		novalidate
		class="child-menu"
	>
		{% csrf_token %}
		<h1>Creating new ticket</h1>
		<div class="create">
			{% for field in form.visible_fields %}
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{{ field}} {% for error in field.errors %}
			<span class="help-block">{{ error }}</span>
			{% endfor %} {% endfor %}
		</div>

		<div class="buttonmenu">
			<button id="submitBtn" type="submit" href="#" class="nonline">
				Save
			</button>
			<a href="{% url 'talon_changelist' %}" class="nonline" id="cencel"
				>Cencel</a
			>
		</div>
	</form>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
	$('#id_bank').change(function () {
		var url = $('#talonForm').attr('data-filials-url')
		var bankId = $(this).val()

		$.ajax({
			url: url,
			data: {
				bank: bankId,
			},
			success: function (data) {
				$('#id_filial').html(data)
			},
		})
	})
</script>

{% endblock %}
