{% extends 'base2.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static './css/ticket.css' %}" />
{% endblock head %} {% block title %}Talon List{% endblock %} {% block content%}
<section class="tickets">
	<div class="tecket-border">
		<div class="ticket-navbar">
			<div class="tick-logo">
				<h1>My Tickets</h1>
			</div>
			<div class="tick-button">
				<a href="{% url 'talon_add' %}" id="red"
					><img src="{% static './img/circle-plus.svg' %}" alt="" />Create
					new</a
				>
				<a href="{% url 'user-update' pk=user.id %}" id="grey"
					><img src="{% static './img/person.svg' %}" alt="" />Go to my
					profile</a
				>
			</div>
		</div>
		<div class="thisOneTicket">
			<div class="killme">
				<div class="logott">
					<h1>Active:</h1>
					<hr />
				</div>
				{% for act in acts %}
				<div class="timer">
					<div class="tticcket">
						<div class="hesdT"><h1>{{act.bank}}</h1></div>
						<div class="mainT">
							<h3>Ticket №</h3>
							<h1>{{ act.number }}</h1>
							<h3>Sevice</h3>
							<h2>{{act.service}}</h2>
						</div>
						<div class="footerT">
							<a href="#" class="nonline">
								<img src="{% static './img/Ellipse 16.svg' %}" alt="" /> 3
								persons ahead of you</a
							>
							<br />
							<a href="#">Today at {{act.arriveTime}}</a>
						</div>
					</div>
					<label for="timer">Waiting time:</label>
					<input
						type="time"
						id="appt"
						name="timer"
						min="09:00"
						max="18:00"
						required
					/>
				</div>
				{% endfor %}
			</div>
			
			<div class="killme">
				<div class="logott">
					<h1>Passed:</h1>
					<hr />
				</div>
				{% for psd in psds %}
				<div class="timer">
					<div class="tticcket">
						<div class="hesdT passed"><h1>{{psd.bank}}</h1></div>
						<div class="mainT" id="passed">
							<h3>Ticket №</h3>
							<h1>{{psd.number}}</h1>
							<h3>Sevice</h3>
							<h2>{{psd.service}}</h2>
						</div>
						<div class="footerT">
							<a href="#" class="nonline">
								<img src="{% static './img/Ellipse grey.svg' %}" alt="" /> 3
								persons ahead of you</a
							>
							<br />
							<a href="#">Today at {{psd.arriveTime}}</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			

			<div class="killme">
				<div class="logott">
					<h1>Missed:</h1>
					<hr />
				</div>
				{% for msd in msds %}
				<div class="timer">
					<div class="tticcket">
						<div class="hesdT passed"><h1>{{msd.bank}}</h1></div>
						<div class="mainT" id="passed">
							<h3>Ticket №</h3>
							<h1>{{msd.number}}</h1>
							<h3>Sevice</h3>
							<h2>{{msd.service}}</h2>
						</div>
						<div class="footerT">
							<a href="#" class="nonline">
								<img src="{% static './img/Ellipse grey.svg' %}" alt="" /> 3
								persons ahead of you</a
							>
							<br />
							<a href="#">Today at {{msd.arriveTime}}</a>
						</div>
					</div>
				</div>
				{% endfor %}
				</div>
				
				</div>
</section>
{% endblock %}
