{% extends 'base.html' %}
 
{% block title %}Django Chained Dropdown List - Select Box using jQuery Ajax bank filial{% endblock %}
 
{% block content %}
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'logout' %}">Logout?</a>
    </div>
  <table class="table table-striped custab">
    <thead>
  <a href="{% url 'talon_add' %}" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new talon</a>
        <tr>
        <th>Number</th>
        <th>Bank</th>
        <th>Filial</th>
            {% if user.is_superuser %}
                <th class="text-center">User</th>
                <th class="text-center">Action</th>
            {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for talon in ticket %}
{% if talon.user == user or user.is_superuser%}

        <tr>
          <td>
              {{ talon.number }}
          </td>
          <td>{{ talon.bank.name }}</td>
          <td>{{ talon.filial.name }}</td>
            {% if user.is_superuser %}
                <td class="text-center">{{ talon.user }}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="{% url 'talon_change' talon.pk %}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="{% url 'talon_delete' talon.pk %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            {% endif %}
        </tr>
{% endif %}

      {% empty %}
        <tr>
          <td colspan="4">No talon in the database. <a href="{% url 'talon_add' %}">Add the first talon</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% else %}
        <div class="alert alert-success" role="alert">
        <h3>Welcome!</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
{% endblock %}