<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test</h1>
    <div class="container">
        <div class="active">
            <h3>Active</h3>
            {% for ac in act %}
                <a href="{% url 'talon_change' ac.id %}">{{ac}}</a>
            {% endfor %}
        </div>
        <div class="passed">
            <h3>Passed</h3>
            {% for ps in psd %}
                {{ps}}
            {% endfor %}
        </div>
        <div class="missed">
            <h3>Missed</h3>
            {% for ms in msd %}
                {{ms}}
            {% endfor %}
        </div>
    </div>
</body>
</html>