* {
    /* text-decoration: none; */
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.nonline {
    text-decoration: none;
}
body {
    box-sizing: border-box;
}



/* NAV BAR */

.navBar {
    display: grid;
    grid-template-columns: 3fr 4fr;
    height: 200px;
    position: relative;
    /* border: 1px solid red; */
}

.main-back {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -10;
}

.logo {
    display: grid;
    justify-content: start;
    align-items: center;
    /* border: 1px solid purple; */

}

.logo img {
    margin: 20% 0 30% 30%;
}

.navBar-child {
    display: grid;

}

.navBar-child ul {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.navBar-child li {
    display: grid;
    justify-content: center;
    color: #fff;
}

.nav-button {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.login {
    padding: 5px 30px;
    border-radius: 18px;
    border: 1px solid #fff;
}

/* PROFILE */

.welcome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 10%;
    margin-bottom: 10%;
}

.border-shadow {
    box-shadow: 1px 1px 20px 20px rgba(181, 181, 181, 0.593);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1026px;
    height: 585px;
}

.head {
    width: 85%;
    /* border: 1px solid #000; */
    margin-bottom: 5%;
}

.head h1 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(122, 122, 122, 1);
}

.marlen {
    /* border: 1px solid red; */
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.left-img-cal {
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-img-cal h1 {
    font-size: 40px;
    font-weight: 400;
    color: rgba(0, 46, 149, 1);
}

.left-img-cal img {
    align-self: center;
    justify-self: center;
}



.dva {
    display: flex;
    flex-direction: column;
}

.dva label {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 46, 149, 1);
    margin-top: 5px;
    margin-left: 2%;
}

.dva input {
    font-size: 32px;
    font-weight: 500;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgba(229, 229, 229, 1);
    padding-left: 8%;
}

#mainLogin {
    width: 123px;
    height: 48px;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgba(0, 46, 149, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: 6%;
}









/* FOOTER */

footer {
    background-color: rgba(0, 0, 107, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.logo-footer img {
    width: 40%;
    height: auto;
    margin: 20px 50px;
}

.link {
    display: grid;
    align-items: flex-end;
}

.link ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.link li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
}

.link a {
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
}