* {
    /* text-decoration: none; */
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    
}

.nonline {
    text-decoration: none;
}
body {
    box-sizing: border-box;
}



/* NAV BAR */

.navBar {
    display: grid;
    grid-template-columns: 3fr 4fr;
    height: 200px;
    position: relative;
    /* border: 1px solid red; */
}

.main-back {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -10;
}

.logo {
    display: grid;
    justify-content: start;
    align-items: center;
    /* border: 1px solid purple; */

}

.logo img {
    margin: 20% 0 30% 30%;
}

.navBar-child {
    display: grid;

}

.navBar-child ul {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.navBar-child li {
    display: grid;
    justify-content: center;
    color: #fff;
}

.nav-button {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.login {
    padding: 5px 30px;
    border-radius: 18px;
    border: 1px solid #fff;
}

/* PRODUCT */

.product {
    height: auto;
    margin: 10% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/back19.e6c3a41e37b6.svg");
    background-size: cover;
}

.product-text {
    width: 55%;
    text-align: center;
}

.product-text h1 {
    font-size: 48px;
    font-weight: 400;
    color: rgba(0, 50, 142, 1);
}

.product-text p {
    font-size: 24px;
    font-weight: 400;
    margin: 5% 0;
    color: rgba(0, 0, 0, 1);
}



.main-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
    width: 70%;
    height: auto;
    margin: 5% 0;
}





.business-conatiner-child {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000;
    width: 958px;
    height: auto;
}

.business {
    text-align: start;
    padding: 20px 40px;
}

.business p {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 5%;
}

.nav-bus {
    display: flex;
    align-items: center;
    margin: 5% 0 10% 0;
    width: 115%;
}

.nav-bus h3 {
    color: rgba(0, 46, 149, 1);
    font-size: 36px;
    font-weight: 700;
    margin-left: 5%;
}

.nav-bus img {
    width: 55px;
    height: 55px;
}

.business ul {
    text-align: left;
    width: 90%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.business li {
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
}

.business a {
    color: rgba(189, 29, 69, 1);
    font-size: 18px;
}











/* FOOTER */

footer {
    background-color: rgba(0, 0, 107, 1);
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.logo-footer img {
    width: 40%;
    height: auto;
    margin: 20px 50px;
}

.link {
    display: grid;
    align-items: flex-end;
}

.link ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.link li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
}

.link a {
    font-size: 18px;
    color: #fff;
    margin-left: 15px;
}